.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.metaproj
*.sln.metaproj.tmp


bin/
obj/
Debug/
Release/
x64/
x86/
publish/

TestResults/
*.trx

packages/
*.nupkg
nuget.config
project.assets.json
*.lock.json
.nuget/

*.tmp
*.bak 
*.cache 
*.log 
*.vsidx

*.dll.config
*.exe.config 
*.pdb

# 暂时弃用的YAML
*.yaml
*.yml

*.obj 
*.pdb
*.idb
*.ilk
*.exe
*.dll
*.manifest
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.vcxproj.user
*.filters
*.bak